<h1 class="mt-4">Usuario</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ usuario.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form #empresaForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Usuario salva/atualizada com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="usuario.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [ngModel]="usuario.id" name="id" class="form-control" disabled="true"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control"
                 [(ngModel)]="usuario.nome" name="nome"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Login: *</label>
          <input type="text" class="form-control"
                 [(ngModel)]="usuario.username" name="username"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Password: *</label>
          <input type="password" class="form-control py-4"
                 [(ngModel)]="usuario.password" name="password"/>
        </div>
      </div>


        <div class="col-md-6">
          <div class="form-group">
            <label> Perfil? </label>
            <div class="col-md-1">
              <div class="form-check">
                <input class="form-check-input"
                       [(ngModel)]="usuario.perfil" value="admin"
                       type="radio" name="perfil" id="flexRadioDefault1" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Admin
                </label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-check">
                <input class="form-check-input"
                       [(ngModel)]="usuario.perfil" value="manager"
                       type="radio" name="perfil" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Manager
                </label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-check">
                <input class="form-check-input"
                       [(ngModel)]="usuario.perfil" value="user"
                       type="radio" name="perfil" id="flexRadioDefault3" checked >
                <label class="form-check-label" for="flexRadioDefault3">
                  User
                </label>
              </div>
            </div>
          </div>
        </div>



    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!usuario.id">
          <i class="fa fa-save"></i> Salvar
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="usuario.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
