<h1 class="mt-4">Tipo Despesa</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ tipoDespesa.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form #empresaForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Empresa salva/atualizada com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="tipoDespesa.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [ngModel]="tipoDespesa.id" name="id" class="form-control" disabled="true"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control"
                 [(ngModel)]="tipoDespesa.nome" name="nome"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!tipoDespesa.id">
          <i class="fa fa-save"></i> Salvar
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="tipoDespesa.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
