<h1 class="mt-4">Ordem Serviço</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrum-bitem active">Consulta</li>
</ol>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputNome">Nome Cliente:</label>
        <input type="text" [(ngModel)]="nome"
               name="nome" class="form-control"
               id="inputNome">
      </div>

    </div>

    <br />

    <div class="row">
      <div class="col-md-4">
        <button type="button"
                routerLink="/ordem-servico/form"
                class="btn btn-warning ml-1">
          <i class="fa fa-plus"></i> Novo
        </button>
      </div>
    </div>
  </form>

  <br />
  <div class="row">
    <div class="alert alert-warning" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th (click)="sort('ID')">
            ID
            <span *ngIf="key =='ID'">{{reverse ? '▲' : '▼'}}</span>
          </th>
          <th (click)="sort('Cliente')">
            Cliente
            <span *ngIf="key =='Cliente'">{{reverse ? '▲' : '▼'}}</span>
          </th>
          <th>Assunto</th>
          <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ordemServico of ordemServicos | orderBy: key : reverse | filter:nome | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index" >
          <td>{{ ordemServico.id }} </td>
          <td>{{ ordemServico.cliente.nome }} </td>
          <td>{{ ordemServico.assunto }} </td>
          <td>{{ ordemServico.data }} </td>
          <td>
            <button class="btn btn-primary" routerLink="/ordem-servico/form/{{ ordemServico.id }}">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="preparaDelecao(ordemServico)" data-toggle="modal"
                    data-target="#modalDelecao">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
      </table>

    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>
        <div class="modal-body" *ngIf="ordemServicoSelecionado">
          Confirma a deleção do(a) Ordem de Servico {{ ordemServicoSelecionado.id }}?
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarOrdemServico()" data-dismiss="modal">Confirma</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancela</button>
        </div>
      </div>
    </div>
  </div>
</div>
