<h1 class="mt-4" xmlns="http://www.w3.org/1999/html">Despesas</h1>
<br>
<div class="row">
    <div class="chart-wrapper">
      <canvas baseChart width="400" height="400"
              [datasets]="barChartData1"
              [labels]="barChartLabels1"
              [options]="barChartOptions"
              [plugins]="barChartPlugins1"
              [colors]="barChartColors"
              [legend]="barChartLegend1"
              [chartType]="barChartType1"
      >
      </canvas>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart width="400" height="400"
              [datasets]="barChartData2"
              [labels]="barChartLabels2"
              [options]="barChartOptions"
              [plugins]="barChartPlugins2"
              [colors]="barChartColors"
              [legend]="barChartLegend2"
              [chartType]="barChartType2"
      >
      </canvas>
    </div>
  <div class="chart-wrapper">
    <canvas baseChart width="400" height="400"
            [datasets]="barChartData3"
            [labels]="barChartLabels3"
            [options]="barChartOptions"
            [plugins]="barChartPlugins3"
            [colors]="barChartColors"
            [legend]="barChartLegend3"
            [chartType]="barChartType3"
    >
    </canvas>
  </div>
</div>
<br>
<h1 class="mt-4" xmlns="http://www.w3.org/1999/html">Ordens de Serviços</h1>
<br>
<div class="row">
  <div class="chart-wrapper">
    <canvas baseChart width="400" height="400"
            [datasets]="barChartData4"
            [labels]="barChartLabels4"
            [options]="barChartOptions"
            [plugins]="barChartPlugins4"
            [colors]="barChartColors"
            [legend]="barChartLegend4"
            [chartType]="barChartType4"
    >
    </canvas>
  </div>
  <div class="chart-wrapper">
    <canvas baseChart width="400" height="400"
            [datasets]="barChartData5"
            [labels]="barChartLabels5"
            [options]="barChartOptions"
            [plugins]="barChartPlugins5"
            [colors]="barChartColors"
            [legend]="barChartLegend5"
            [chartType]="barChartType5"
    >
    </canvas>
  </div>
  <div class="chart-wrapper">
    <canvas baseChart width="400" height="400"
            [datasets]="barChartData6"
            [labels]="barChartLabels6"
            [options]="barChartOptions"
            [plugins]="barChartPlugins6"
            [colors]="barChartColors"
            [legend]="barChartLegend6"
            [chartType]="barChartType6"
    >
    </canvas>
  </div>
</div>
