<h1 class="mt-4" xmlns="http://www.w3.org/1999/html">Projeto</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active">Novo</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Projeto salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Cliente: </label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="projeto.idCliente">
            <option value="">Selecione...</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
              {{ cliente.nome}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Nome</label>
          <input class="form-control"
                 [(ngModel)]="projeto.nome" type="text"
                 name="nome" id="inputNome">
        </div>
      </div>
    </div>

     <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Data</label>
          <input class="form-control"
                 [(ngModel)]="projeto.data" type="date"
                 name="data" id="inputData">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="">Horas Traslado</label>
          <input class="form-control"
                 [(ngModel)]="projeto.horaTrasl" type="time"
                 name="horaTrasl" id="inputHoraTrasl">
        </div>
      </div>

       <div class="col-md-3">
         <div class="form-group">
           <label for="">Horas Desconto</label>
           <input class="form-control"
                  [(ngModel)]="projeto.horaDesc" type="time"
                  name="horaDescb" id="inputHoraDesc">
         </div>
       </div>

       <div class="col-md-6">
         <div class="form-group">
           <label>Valor Hora:</label>
           <input class="form-control"
                  [(ngModel)]="projeto.valorHora" type="number"
                  name="valor" id="inputValorHora">
         </div>
       </div>

    </div>

      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i>
            Salvar
          </button>
          <button type="button" routerLink="/ordem-servico/lista" class="btn btn-danger ml-1" >
            <i class="fa fa-arrow-alt-circle-left"></i> Voltar
          </button>
        </div>
      </div>
  </form>
</div>
