<h1 class="mt-4">Projeto</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrum-bitem active">Consulta</li>
</ol>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputNome">Nome Cliente:</label>
        <input type="text" [(ngModel)]="nome"
               name="nome" class="form-control"
               id="inputNome">
      </div>

    </div>

    <br />

    <div class="row">
      <div class="col-md-4">
        <button type="button"
                routerLink="/projeto/form"
                class="btn btn-warning ml-1">
          <i class="fa fa-plus"></i> Novo
        </button>
      </div>
    </div>
  </form>

  <br />
  <div class="row">
    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
      {{ mensagemSucesso }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
      {{ mensagemErro }}
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th (click)="sort('ID')">
            ID
            <span *ngIf="key =='ID'">{{reverse ? '▲' : '▼'}}</span>
          </th>
          <th (click)="sort('Cliente')">
            Cliente
            <span *ngIf="key =='Cliente'">{{reverse ? '▲' : '▼'}}</span>
          </th>
          <th>Projeto</th>
          <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let projeto of projetos | orderBy: key : reverse | filter:nome | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index" >
          <td>{{ projeto.id }} </td>
          <td>{{ projeto.cliente.nome }} </td>
          <td>{{ projeto.nome }} </td>
          <td>{{ projeto.data }} </td>
          <td>
            <button class="btn btn-primary" routerLink="/projeto/form/{{ projeto.id }}">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="preparaDelecao(projeto)" data-toggle="modal"
                    data-target="#modalDelecao">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
      </table>

    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>
        <div class="modal-body" *ngIf="projetoSelecionado">
          Confirma a deleção do(a) Projeto -  {{ projetoSelecionado.id }}?
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarProjeto()" data-dismiss="modal">Confirma</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancela</button>
        </div>
      </div>
    </div>
  </div>
</div>
